@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Moderustic", system-ui;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black);
}
header .logo i {
  color: var(--green);
}
header .navbar a {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--light-color);
}
header .navbar a:hover {
  background-color: var(--green);
  color: #fff;
}
header .navbar a.active {
  background-color: var(--green);
  color: #fff;
}

header .icons a,
header .icons i {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}
header .icons a:hover,
header .icons i:hover {
  background-color: #fff;
  color: #fff;
  transform: rotate(360deg);
  background-color: var(--green);
}
header .icons #menu-bars {
  display: none;
}
