@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Moderustic", system-ui;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
header {
  width: 100%;

  background-color: white;
}
.dishes {
  width: 100%;
}
.about {
  width: 100%;
  padding: 0 5rem;
}
